body{
	background:#111;
}

header{
	position:fixed;
	display:block;
	top:0vh;
	left:0vh;
	right:0vw;
	height:6vh;
	border-bottom: 1px solid #333;
	background:#111;
}

header span{
	position:relative;
	display:block;
	font-size:18px;
	font-family: Montserrat;
	font-weight:bolder;
	user-select: none;
	color:#fff;
	margin:1.5vh;
}

header a {
	position:absolute;
	display:inline-block;
	top:1.5vh;
	right:1.5vh;
	text-align:right;
	filter: invert(1);
	height:3vh;
}

header a:nth-of-type(1){
	right:1.5vh;
}

header a:nth-of-type(2){
	right:6vh;
}

header a:hover{
	filter:invert(0.5);
}

body {
	margin: 0;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}
