body{
	background:#111;
}

header{
	position:fixed;
	display:block;
	top:0vh;
	left:0vh;
	right:0vw;
	height:6vh;
	border-bottom: 1px solid #333;
	background:#111;
	z-index:1000;
}

header name{
	position:relative;
	display:block;
	font-size:2.5vh;
	font-family: Montserrat;
	font-weight:bolder;
	user-select: none;
	color:#fff;
	margin:1.75vh 1.5vh;
	letter-spacing: 0.18vh;
	cursor: pointer;
}

header a {
	position:absolute;
	display:inline-block;
	top:1.75vh;
	right:1.5vh;
	vertical-align: middle;
	filter: invert(1);
	height:3vh;
}

header a:nth-of-type(1){
	right:1.5vh;
}

header a:nth-of-type(2){
	right:6vh;
}

header a:hover{
	filter:invert(0.5);
}

body {
	margin: 0;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

bio{
	position:relative;
	display: none;
	margin:25vh 25vw;
	font-size:18px;
}



/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}